{% for dict in final_output %}
    <div>
        <div class="text">
            <p>
                {% if dict['probability'] > 10 %}
                The probability of the photo being <b><a href={{ dict['wiki_url'] }}>{{ dict['flower_name'] }}</a></b> is nearly <b>{{ dict['probability'] }} % </b></p>
                {% else %}
                There is a very small possibility that it is <b><a href={{ dict['wiki_url'] }}>{{ dict['flower_name'] }}</a></b> (<b>{{ dict['probability'] }} %</b>)
                {% endif %}
        </div>

        <div class="flower-set">
        {% for imgfile in dict['files'] %}
            <div class="flower">
                <div class="flower-inner">
                    <img class="fluid" src={{ imgfile }} alt="Some image">
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}